.bsftPrimaryBackground {
	background-color: #2dbd9b !important;
}

.bsftPrimaryButton {
	background-color: #2DBD9B !important;
}

.bsftPrimaryButton[disabled] {
	opacity: 0.5 !important;
}

.bsftPrimarySeparator {
	border-color: #2DBD9B !important;
}

.bsftPrimaryButtonReverse {
	color: #FFFFFF !important;
}

.bsftCallControlsBackground {
	background-color: #F0F0F0 !important;
}

.bsftChatBackground {
	background-color: #f8f8f8 !important;
}

.bsftIncomingChatBalloon {
	background-Color: #FFFFFF !important;
}

.bsftOutgoingChatBalloon {
	background-Color: #627789 !important;
}

.bsftIcon {
	color: #2d2d2d;
}

.bsftSelectedIcon {
	color: #2dbd9b !important;
}

.bsftSymbolicRed {
	Color: #FF3347 !important;
}

.bsftHoverBackground {
	background-Color: #000000 !important;
}

:not (.bsftDisabledBG ) >.bsftHoverBackground:hover {
	opacity: 0.1 !important;
}

.active>.bsftHoverBackground {
	opacity: 0.1 !important;
}

.active>.bsftHoverBackground:hover {
	opacity: 0.2 !important;
}

.bsftShareButtonHoverBackground {
	background-Color: #000000 !important;
}

.bsftShareButtonHoverBackground:hover, .active>.bsftShareButtonHoverBackground {
	opacity: 0.15 !important;
}

.bsftDimmedText:-ms-input-placeholder {
	color: #b4b4b4 !important;
}

.bsftDimmedText::-webkit-input-placeholder {
	color: #b4b4b4 !important;
}

.bsftPrimaryText {
	color: #FFFFFF !important;
}

.bsftCallBackground {
	background-Color: #0D2C3E !important;
}

.bsftHeaders {
	color: #323232 !important;
}

.bsftIncomingChatText {
	color: #323232 !important;
}

.bsftOutgoingChatText {
	color: #FFFFFF !important;
}

.bsftChatPrimaryText {
	color: #2BAA85 !important;
}

.bsftChatSecondaryText {
	color: #b4b4b4 !important;
}

.bsftSeparators {
	border-color: #dcdcdc !important;
}

.bsftInputBoxBorder {
	border-color: #dcdcdc !important;
}

.onyx-input-decorator.onyx-focused.bsftInputFieldOutline {
	border-color: #c4e8dd !important;
}

.bsftAppNotification {
	border-color: #FFDA00 !important;
}

.bsftAppNotificationBackground {
	background-color: #F8F8F8 !important;
}

.bsftAppNotificationText {
	color: #323232 !important;
}

.bsftBadgeText {
	color: #323232 !important;
}

.bsftBadgeBackground {
	background-color: #DCDCDC !important;
}

.bsftAccentText>a {
	color: #2BAA85 !important;
}

.bsftWelcomeScreenDesc>a {
	color: #475561 !important;
}

.bsftPrimaryContentText {
	color: #333333 !important;
}

.bsftContentBackground {
	background-color: #FFFFFF !important;
}

.bsftTertiaryContentText {
	color: #C0C0C0 !important;
}

.bsftVersionText {
	color: #969696 !important;
}

.bsftChatErrorFontColor{
    color:#FF0000;
}

.bsftAlternateDialInNumbersPopup:after{
    border-color: #2DBD9B transparent;
}

.bsftAlternateDialInNumbersPopupBackground{
    background-color: #FFFFFF; 
}

.bsftWelcomeScreenPopupBackground{
	background-color: #FFFFFF;
}

.bsftSharePopupBackground{
	background-color: #F0F0F0;
}

.bsftPrimaryButtonBorder{
	border-color: #2DBD9B !important;
}

.bsftDefaultAvatarBorder{
	border-color: #2DBD9B !important;
}

.bsftDesktopSharePopupCancleBtn{
	background-color: #FFFFFF;
}