

.bsftDrawerKnobOpen{
    cursor: hand; 
    cursor: pointer;
    text-align:right;
    width:16px; 
    height:16px; 
}
.bsftDrawerKnobCloseOuterBox{
      height: 30px !important;
	  display: table-cell;
	  position: relative;
	  vertical-align: middle;
}
.bsftDrawerKnobClose{
      cursor: hand; 
      cursor: pointer;
	  width: 12px;
	  height: 8px;
	  padding-right: 15px;
	  padding-top: 10px;
	  float:right;
}
.bsftDrawerTitleOpen{
    cursor: hand; 
    cursor: pointer;
    font-size: 12px;
    color: #ADADAD;
    font-weight: 500;
    margin-left: 5px;
    display: inline;
}

.bsftDrawerHeader{
	height: 34px !important;
    width: 100%;
    vertical-align: middle;
    display: table;
    border-width: 0px 0px 2px 0px;
}

.bsftDrawerTitleCloseOuterBox{
    display: table-cell;
    position: relative;
    padding-top: 10px;
    height: 32px !important;
}

.bsftDrawerTitleClose{
    cursor: hand; 
    cursor: pointer;
    font-size: 13px;
    color: #323232;
    margin-left: 8px;
    border-bottom: 0px;
    font-weight: 500;
    text-transform: capitalize;
    display: inline;
}

.bsftDrawerTitleActive{
    text-decoration: none;
    border-bottom: 1px solid #40C8AB;
}

.bsftContentPane{
    color: white;
    font-size: 12px;
    width: 100%;
    padding: 8px 8px 12px 8px;
}

.bsftContentPaneItems{
/*     padding: 10px; */
/*     border: 1px solid #2B2B2B; */
}

.bsftDesktopShareDrawer{
    background-color: #FFFFFF;
}