
@CHARSET "ISO-8859-1";

body{
	overflow: auto !important;
	width: 100%;
	height: 100%;
	font-family: 'Roboto', -apple-system, Arial, Helvetica, sans-serif !important;
	background-color: #FFFFFF;
	cursor: default;
}

input, textarea, select, button {
	font-family: 'Roboto', -apple-system, Arial, Helvetica, sans-serif !important;
}

/* Chrome grammarly start */
grammarly-ghost{
	display: none !important;
}
html > div{
	display: none !important;
}
/* Chrome grammarly end */

.cgcHide{
    display : none !important;
}
.cgcShow{
    display : inline-flex !important;
}
.cgcFloatRight{
	float: right !important;
}
.cgcFloatLeft{
	float: left !important;
}
.cgcFontNormal{
    font-weight: normal;
}
.cgcFontBold{
	font-weight: bold
}
.cgcBorderNone{
	border: none !important;
}
.cgcFlexRowReverse{
    flex-direction: row-reverse;
}
.cgcFlexShrinkNone{
	flex-shrink: 0 !important;
}
.cgcFlexGrowFull{
	flex-grow: 1 !important;
}
.cgcFullHeight{
	height: 100% !important;
}
.cgcFullWidth{
	width: 100% !important;
}
.cgcPostionRelative{
	position: relative;
}
.cgcFontTransparent{
	color: transparent !important;
}
.cgcDisabled{
	pointer-events: none;
    opacity: 0.5;
}
.bsftDisabledBG{
	cursor: default !important;
    opacity: 0.5;
}
.cgcDisplayInline{
	display: inline-block;
}
.cgcTextEllipsis{
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.bsftMediumFont{
	font-weight: 500;
}
.bsftFontRobotoRegular{
	font-weight: 400;
}
.bsftFontRobotoLightItalic{
	font-weight: 300;
	font-style: italic;
}
.bsftFontRobtoCondensed{
	font-family: 'Roboto Condensed', 'Roboto', -apple-system, Arial, Helvetica, sans-serif;
	font-weight: 400;
}
.cgcInvisible{
    visibility: hidden !important;
}

.cgcViewControl{
    overflow:auto;
    height: 100%;
    width: 100%;
}

.cgcPopuBackground{
	width: 100%;
	height: 100%;
	background: #000000;
	opacity: 0.5;
	z-index: 30;
    position: fixed;
    top: 0px;
    left: 0px;
    cursor: default !important;
}

.cgcWelcomePopup {
	max-width: 713px;
	z-index: 31;
}

.cgcWelcomeScreenContainer{
    padding: 24px 40px 24px 40px;
	border-radius: 10px;
}

.cgcWelcomeScreenHeaderBox{
	height: auto;
    width: 100%;
    border-width: 0px 0px 1px 0px;
    text-align: center;
}

.cgcWelcomeScreenHeader {
    font-size: 30px;
}

.cgcWelcomeScreenHeaderDesc{
	padding: 10px 0px;
}

.cgcWelcomeScreenHeaderDescColor{
	color: #475561 !important;
}

.cgcWelcomeScreenItem {
    height: auto;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    padding: 15px 10px 20px 0px;
    border-width: 0px 0px 1px 0px;
}

.cgcWelcomeScreenItemImgBox{
	flex-shrink: 0;
    width: 100px;
    text-align: center;
}
.cgcWelcomeScreenItemImg {
    height: 33px;
    width: 47px;
    flex-shrink: 0;
}

.cgcWelcomeScreenItemImgTitle {
	font-size: 15px;
    width: auto;
    padding-top: 5px;
}
.bsftWelcomeScreenDesc{
	font-size: 14px;
}
.bsftWelcomeScreenDesc>font{
	font-weight: 600;
}

.cgcWelcomeScreenButtonBox {
    padding-top: 24px;
    height: 39px;
    width: 100%;
    text-align: center;
}

.cgcWelcomeScreenButton {
    height: 100%;
    width: 240px;
    border-radius: 6px;
    border: none !important;
    font-size: 16px;
    outline: none;
    background-image: none !important;
}

.cgcErrorItem{
    width: 99%;
    left: 10px;
    height : auto;
    position: static;
    font-size: 12px;
}

.cgcChatItemInfo{
    height: auto;
    left: 10px;
    position: static;
    font-size: 12px;
}
.cgcChatDefaultAvatar{
    height: 44px !important;
    width: 44px !important;
    float: left;
    border-radius: 50%;
    background-color: #FFFFFF;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    text-transform: lowercase;
    border: 1px;
    margin-right: 20px;
    flex-shrink: 0;
}
.cgcChatAvatarImgBox{
    height: 44px;
    width: 44px;
    float: left;
    margin-right: 20px;
    flex-shrink: 0;
}
.cgcChatAvatarImg{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* .cgcChatEmptyAvatar{ */
/*     display : none; */
/*     height: 28px !important; */
/*     width: 29px; */
/*     float: right; */
/*     margin-left: 10px; */
/* } */

.cgcChatMessageUser{
    display: flex;
    margin-top: 8px;
    width:100%;
}

.cgcTextSize{
    padding: 0px !important;
    padding-left: 10px !important;
    font-size: 18px !important;
    text-align: left !important;
}

.cgcChatSenderMainDiv{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
}

.cgcChatReceiverMainDiv{
    display: flex;
    width: 100%;
}

.cgcChatbubbleSeperator{
	padding-top: 20px !important;
}

.cgcChatSenderTime {
    float: left;
    width: auto;
    position: absolute;
    top: calc(50% - 7px);
    left: 0px;
    color: rgb(170, 170, 170);
    font-size: 14px;
    line-height: 14px;
}
.cgcChatContentDiv {
    display: inline-block;
    width: 100%;
    position: relative;
}
.cgcMessageContent {
    text-align: left;
    padding: 16px;
}
.cgcOutgoingChatTheme {
    background-color: #35AFF9;
    border: 1px solid #35AFF9;
}
.cgcChatReceiverMessage {
    float: left !important;
    width: auto;
    max-width: 484px !important;
    box-sizing: border-box;
}
.cgcChatSenderMessage {
    float: right !important;
    width: auto;
    max-width: 484px !important;
    box-sizing: border-box;
}
.cgcChatSenderFirstMessage {
    color: rgb(255, 255, 255);
    border-radius: 24px 24px 0px;
}
.cgcChatReceiverFirstMessage{
    border-radius: 24px 24px 24px 0px;
}
.cgcChatSenderMiddleMessage {
    color: rgb(255, 255, 255);
    border-radius: 24px 0px 0px 24px;
}
.cgcChatReceiverMiddleMessage {
    color: rgb(51, 51, 51);
    border-radius: 0px 24px 24px 0px;
}
.cgcChatReceiverLastMessage {
    color: rgb(51, 51, 51);
    border-radius: 0px 24px 24px;
}
.cgcChatSenderLastMessage {
    border-radius: 24px 0px 24px 24px;
}
.cgcChatNoContentWOAvatar {
    height: 44px;
    width: 44px;
    margin-right: 20px;
    float: left !important;
}
.cgcChatItemSenderDetails{
    font-weight: 500;
    width: auto;
    line-height: 16px;
    text-align: left;
    font-size: 14px;
    margin-left: 80px;
    padding-bottom: 4px;
}

.cgcCollaborateGuestClient{
    width:100%;
    height:100%;
}

.cgcAlternativeNumberPopup{
    border-radius: 5px;
    font-size:70%;
    padding: 13px; 
    max-height: 150px;
    height: auto; 
    max-width:280px;
    width:auto;
    overflow-y:auto;
}

.cgcAlternativeNumberPopupBox{
   	padding: 5px;
    border-radius: 4px;
    border-width: 3px 0px 0px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
}

.cgcAlternativeNumberPopup:before1 {
    content: "";
    position: absolute;
    top: 0;
    left: calc(50% - 7px);
    border-style: solid;
    border-width: 0px 13px 15px;
    display: block;
    width: 0;
    z-index: 0;
}

.cgcAlternativeNumberPopup:after {
    top: 5px;
    content: "";
    position: absolute;
    left: calc(50% - 7px);
    border-style: solid;
    border-width: 0 7px 8px;
    display: block;
    width: 0;
    z-index: 0;
    transform-origin: 0 0;
    transform: rotate(0deg);
}

.cgcAlternativeNumberHeader{
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    height: 15px;
    padding: 5px;	
}

.cgcAlternativeNumberBody{
    padding: 5px;	
}

.cgcAlternativeNumberRecord{
    padding: 5px 0px;	
}

.cgcLoginHeader{
    font-size: 19px;
    padding-bottom: 8px;
    text-align: center;
}

.cgcRoomHeader{
    font-size: 15px;
    text-align: center;
}
.cgcLoginPageLabel{
	color: #646464 !important;
}
.cgcLoginInputSeparator{
	height: 4px;
}
.cgcRoomHeaderSeparator{
	height: 20px;
}
.cgcTimeoutLoginBox{
    display: inline-block;
    width: auto !important;
    padding-right: 50%;
    padding-top: 10px;
}
.cgcLeaderProfileContainer{
	height: 48px !important;
    position: relative;
}
.cgcLeaderProfileInnerBox{
	height: 36px;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.cgcLeaderAvatar{
	background-color: #FFFFFF;
    flex-shrink: 0;
    height: 32px;
    width: 32px;
    margin-left: 8px;
    margin-top: 2px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 2px #FFFFFF;
}
.cgcLeaderDefaultAvatar{
    background-color: #FFFFFF;
    flex-shrink: 0;
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 18px;
    text-transform: lowercase;
    text-align: center;
    margin-top: 2px;
    margin-left: 8px;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    box-shadow: 0px 0px 0px 2px #FFFFFF;
}
.cgcLeaderRoomInfoBox{
	display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 8px;
    white-space: pre;
    max-width: calc(100% - 52px);
    line-height: 36px
}
.cgcLeaderRoomInfoBoxTitle{
    font-size: 15px;
    white-space: pre;
    width: auto;
    height: 100%;
    max-width: 100%;
}

.cgcGuestProfile{
	max-width: 305px;
	white-space: nowrap;
	overflow: hidden;
	vertical-align: middle;
	display: table-cell;
	text-overflow: ellipsis;
	padding-left:8px;
}

.cgcGuestYou{
    vertical-align: middle;
	padding-left: 5px;
	display: table-cell;
}

.cgcChatItemHeaderTime{
    font-size:13px; 
    border-bottom: 1px black;
    display: inline;
    height:initial;
}

.cgcChatLeftsideTime{
    float: left !important;
    margin-right: 15px;
}

.cgcChatRightsideTime{
    float: right !important;
    margin-left: 15px;
}

.cgcGuestRole{
    padding-left: 5px;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 285px;
	overflow: hidden;
	vertical-align: middle;
	display: table-cell;
}

.cgcDockerPanelVideoBackground{
	background:rgb(194, 192, 192);
	text-align: -webkit-center;
	width:100%;
	height: 100%;
}

.cgcViewPanelVideoContainer{
	width: 100% !important;
	height: 100% !important;
	display: flex !important;
}

.cgcVideoPanel{
    height:270px !important;
    width:100%;
    padding:0px;
    max-height:276px
}

.cgcStatusPageBox{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	text-align:center;
}

.cgcJoinPage{
    text-align: center;
    width: 100%;
    flex-grow: 1;
    margin-bottom: 80px;
}

.cgcJoinPage > div:not(.cgcLoginOuterBox){
	margin: 0px 10px;
}

.cgcJoinPageOuterBox{
    background: #ffffff;
    padding-top: 40px;
    min-height: 328px !important;
    height: auto !important;
    width: 328px !important;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    border: 1px;
    position: relative;
}
.cgcJoinPageBrowserNotificationMsg{
	height: 110px;
	max-height: 110px;
}
.cgcPostLoginBrowserNotificationMsg{
	height: auto;
}
.cgcBrowserNotificationMsg{
    border-width: 0px 0px 0px 5px;
    padding-left: 10px;
    min-height: 24px;
    font-size: 13px;
    line-height: 24px;
    font-style: normal;
}

.cgcJoinPageHeader{
/* 	width: 100%; */
/*     height:110px; */
}

.cgcJoinPageLogoOuterBox{
    text-align: center;
    height: 56px;
}

.cgcJoinPageLogo{
    max-width: 100% !important;
    max-height: 100% !important;
    text-align: center;
}

.cgcLogoSeperator{
    height : 20px;
}

.cgcLoginBox{
	flex-grow: 1;
    display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
}

.cgcJoinPageFooterBox {
    margin-top: 30px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0px;
}

.cgcJoinPageFooterLogo{
    align-self: center;
    height: 18px;
}

.cgcAppVersion{
	text-align: center;
    font-size: 10px;
    font-weight: 900;
    padding-top: 5px;
    height: 15px !important;
}

.cgcWaitForLeaderAcceptanceWidget{
    text-align: left;
    padding-left: 268px;
}

.cgcApploadingimgBox{
    width: 60px !important;
    height: 60px !important;
    padding-top: 28px;
    padding-bottom: 8px;
    text-align: center;
    margin: auto;
}

.cgcApploadingimg{
    width: 48px !important;
    height: 48px !important;
    display: block;
    margin: auto;
    text-align:center;
}

.cgcSigninProgress{
    display: inline-block;
    width: 100%;
    float: left;
    color: black;
}

.cgcStatusMessageBox{
	margin-top: 28px;
    font-size: 15px;
    text-align: center;
}

.cgcStatusProgressInfoMessageBox{
    font-size: 15px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.cgcStatusProgressWarningMessageBox{
    font-size: 15px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.cgcStatusDismissedMessageBox {
	margin-top: 40px;
}

.cgcStatusDismissedMessage {
	font-size: 15px;
	margin-bottom: 8px;
}

.cgcLoginDeclinedRoomHeader{
    font-size: 19px;
    text-align: center;
    margin-top: 8px;
}

.cgcStatusUnSupportedBrowerMessageBox{
	margin: 36px;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
}

.cgcViewPanelHeaderButtons{
    text-align:right;
    display: table-cell;
    width: auto !important;
    float: right;
}

.cgcChatimg{
    height: 13px;
    width: 16px;
}
.cgcParticipantAvatarContainer{
	width: 36px !important;
    vertical-align: middle;
    height: 36px !important;
}
.cgcParticipantAvatar{
	height: 36px;
	width: 36px;
	border-radius: 50%;
}
.cgcParticipantDefaultAvatar{
    background-color: #FFFFFF;
    height: 34px;
    width: 34px;
    line-height: 34px;
    font-size: 18px;
    text-transform: lowercase;
    text-align: center;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%)
}
.cgcParticipantContent{
	border-right: 1px solid lightgrey;
	color: #666666;
	font-size: 13px;
   	padding: 8px 8px 0px 8px;
   	position: relative;
}

.cgcParticipantYou{
	height: 52px;
	line-height:52px;
	vertical-align:middle;
   	border-width: 0px 0px 1px 0px;
}

.cgcDockerNavicationContent{
	height: 100%;
}

.cgcAccordionItems{
    height:auto;
    max-height: 100% !important;
    background-color: #ffffff;
}

.cgcChatPanelContainter{
    padding-top:2px;
}

.cgcHeaderParticipants{
    height: 100%;
    max-height: 100% !important;
}

.cgcParticipantPopup{
    top: 5%;
    left: 78%;
    height: auto;
    max-height: 230px;
    width: 250px;
    float:right;
    border: 1px solid #2C92B3;
    background-color: #FFFFFF;
}

.cgcChatHeader{
    background-color: #2C92B3;
    height: 30px;
}

.cgcMuteButtonHeader {
    cursor: pointer;
    height:32px;
    vertical-align: middle;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
    margin-right:6px;
    border: 0px;
}

.cgcFullScreenImg{
    cursor: hand; 
    cursor: pointer;
    height: 25px !important;
    width: 20px;
    padding-right: 5px;
    padding-top: 9px;
}

.cgcFullScreenLabelOff{
    vertical-align: middle;
    cursor: pointer;
    height: auto;
    width: auto;
    border: 0px;
}

.cgcViewPanelInnerContainer{
	border-width: 0px 1px 0px 0px;
	position: relative;
}

.cgcHeaderStyle{
    display: none !important;
    width: 100%;
    font-size: 18px;
    height:30px !important;
    background-repeat:no-repeat;
}

.cgcPendingBox{
    width: 100%;
    text-align: center;
    color: white;
    padding-top:20px;
    background-color:#2C92B3;
    height: auto !important;
}

.cgcFooterInnerbox{
    margin: 0 auto;
    text-align: right;
}

.cgcCompanyLogo{
    text-align: right;
    margin: 0 auto;
    width: 80px;
    height: 0px;
    padding-bottom: 1%;
}

.cgcParticipantsLogo{
    cursor: hand; 
    cursor: pointer;
    display: block;
	margin: 0 auto;
	width: 16px;
	height: 16px;
}

.videoBar {
	display: none;
	height: 0px;
	border: 0px solid #DDDDDD;
}

.cgcCallItemsAdd{
    background-color: #FCD9B6;
}

.cgcCallItemsEven{
    background-color: #EBEBEB;  
}

.cgcWebRTCPanel{
    height: auto !important;
    padding: 0px;
    display: flex;
    flex-direction: row;
}

.cgcCallButtonDiv{
    width: 80% !important;
}

.cgcBasePanel{
    width:100%; 
    height: 100%;
    display: flex;
}

.cgcDockerPanel{
    width: 359px;
    min-width:359px;
    max-width:359px; 
    height: 100%;
    -webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}

.cgcViewPanel{
    /* background: white; */
/*     width:100% !important; */
    height: 100%; 
    border-width: 3px 0px 0px 0px;
}

.cgcConnectorShareButton{
	width: 89px;
	padding: 8px 0px 0px 0px;
    cursor: pointer;
    position: relative;
}

.cgcConnectorButton {
	width: 89px;
	padding: 8px 0px 0px 0px;
    cursor: pointer;
    position: relative;
    margin-right: 1px;
}
.cgcFullScreenIconBox {
    padding: 0px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: auto;
    display: flex;
    background: #000000;
}
.cgcConnectorButtonHoverCover{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
}
.cgcConnectorButtonIconBox {
    padding: 0px;
    width: 47px;
    height: 33px;
    margin: auto;
    display: flex;
}
.cgcConnectorButtonIcon{
    height: 33px;
    width: 47px;
    margin: auto;
}
.cgcFullScreenButtonIcon{
    margin: auto;
    height: 15px;
    width: 15px;
}
.cgcFullScreenButtonFSIcon{
    margin: auto;
    height: 100%;
    width: 100%;
    opacity: 0.5;
}
.cgcConnectorButtonIconTitle{
    font-size: 9px;
    line-height: 10px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 6px;
    border-width: 0px 0px 2px 0px;
    height: 10px;
    border-style: solid;
    border-color: transparent;
    width: 100%;
}
.cgcConnectorButtonTooltip {
	visibility: hidden;
    display: inline-table;
    width: auto;
    max-width: 100%;
    text-align: center;
    padding: 2px 5px;
    position: absolute;
    z-index: 1;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    font-size: 10px;
}

.cgcConnectorButton:hover .cgcConnectorButtonTooltipVisble {
	animation: showEffect 1.0s forwards;
}
@keyframes showEffect {
    99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.cgcLeftPannelDefaultColor {
    background-color: #0F0D0E;
}

 .cgcChatScrollerLeft {
/* 	padding-left: 5px !important; */
}

 .cgcChatScrollerRight {
/* 	padding-left: 20px !important; */
/*     padding-right: 20px !important; */
}

.cgcChatScroller{
	border:none;
}

.cgcChatScrollerMac{
	border:none; 
	overflow-x: hidden !important;
	overflow-y: auto !important;
}

.cgcChatScrollerNonMac{
	border:none; 
	overflow-x: hidden !important;
	overflow-y: hidden !important;
	font-size: 0px;
}

.cgcChatContentPane {
	word-break: break-word;
    max-width: 832px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
   	padding-left: 20px !important;
    padding-right: 20px !important;
}

.cgcChatBubbleLink{
	word-break: break-all;
}

.cgcPadding{
    padding:2px;
}

.cgcChatItemMessage{
    height: initial;
	font-size: 14px;
	white-space: pre-wrap;
	word-wrap: break-word;
	width: 100%;
}

.cgcLoggedUserWidget{
    border-bottom:1px solid #FF9016;
    padding:4px;
    min-height:60px; 
    max-height:145px
}

.cgcVedioPanelBorder{
    border-bottom:1px solid #FF9016;
}

.cgcContactPanelBorder{
    border-bottom:1px solid #FF9016;
}

.cgcContactPanelMac{
    overflow-x: hidden !important;
    overflow-y: auto !important;
}

.cgcContactPanelNonMac{
    overflow: hidden !important;
}

.cgcLoginPageLogoChrome{
    content: url("../../branding/assets/bsft_logo_128x128.png");
}

.cgcLoginPageLogoNetscape{
    background: url("../../branding/assets/bsft_logo_128x128.png") no-repeat;
}

.cgcLoginPageLogoSafari{
    content: url("../../branding/assets/bsft_logo_128x128.png");
}

.cgcLoginPageLogoFirefox{
    background: url("../../branding/assets/bsft_logo_128x128.png") no-repeat;
}

.cgcJoinButtonBox{
    padding-top: 24px;
    height: 39px;
}

.cgcJoinButton{
    height: 100%;
    width: 240px;
    border-radius: 6px;
    border: none !important;
    font-size: 16px;
    background-image: none !important;
}

.cgcTabHeading{
    padding-top: 5px !important;
    height: calc(100% - 5px);
    float: left;
}

.cgcVideoTabHeading{
    text-align: left;
    text-shadow: none;
    font-size: 13px !important;
    padding: 0px 8px !important;
    height: 26px !important;
    line-height: 32px;
    background-color: #FFFFFF !important;
    width: auto !important;
    margin-top: 5px;
    box-sizing: border-box;
}

.cgcParticipantsCount{
    font-size: 13px;
    font-weight: normal;
    border-radius: 13px;
    min-width: 16px;
    margin-left: 4px;
    margin-top: 5px;
    text-align: center;
    height: 16px;
    line-height: 13px;
    width: auto;
    display: inherit;
    box-sizing: border-box;
    padding: 2px 4px;
}

.cgcParticipantDetails{
    overflow: hidden;
    border-width: 0px 0px 1px 0px;
    width: 100%;
    height: 51px;
    line-height: 51px;
    vertical-align: middle;
    margin: auto;
}

.cgcParticipantPhoto{
    height:28px;
    width:28px
}

.cgcParticipantRecord{
    padding-left: 8px;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 305px;
	overflow: hidden;
	display: table-cell;
}

.cgcCallMeContent{
    height : 20px;
    padding-left: 2px;
    padding-top: 5px;
}

.cgcParticipantToolTip{
    border-bottom: 1px solid #E3E7EA;
    background: #FFFFFF;
    font-size:85%;
    color:black; 
    min-width:50px;
    max-width:300px;
    white-space: pre-wrap;
    word-wrap:break-word;
}

.onyx-tooltip.below.left-arrow::before{
    border-bottom: 0px solid #E6E6E6;
    top:-6px;
}

.cgcProfileDetails{
    font-size:100%;
    margin : 4px 0 4px 0;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  
    width:100%;
    padding:2px;
}

.cgcProfileToolTip{
    border-bottom: 1px solid #E3E7EA;
    background: #FFFFFF;
    font-size:85%;
    color:black; 
    min-width:50px;
    max-width:300px;
    white-space: pre-wrap;
    left:2px;
    word-wrap:break-word;
}

.cgcDialInfoWidget{
	color:#CCCCCC;
	font-size:12px;
	width:auto;
	display: inline-block;
}

.cgcDialInOption{
	padding-bottom:10px;
	padding-top:10px;
	color:#CCCCCC;
	font-size:12px;
	width:auto;
	display: inline-block;
}

.cgcCallMeNowLabel{
    color: #CCCCCC;
    font-size: 13px;
    height: 13px;
    margin-bottom: 8px;
}

.cgcCallMeLable{
	color: #474747;
    font-size: 14px;
    margin-bottom: 4px;
    margin-left: 4px;
    min-height: 18px
}

.cgcCallMeInputText{
	width: 100%;
	cursor: text !important;
	font-size: 14px !important;
	line-height: 14px;
    height: 14px !important;
    color:#000000;
}

.cgcDialInfoLabel{
   	color: #666666;
	font-size: 12px;
	font-weight: bold;
}

.cgcDialInfo{
    font-size:70%;
    padding-left:2px;
    max-width:290px;
}

.cgcDialInOptionBox{
	display: flex;
	align-items: center;
}
.cgcDialInOptionLabel{
   	font-size: 13px;
   	line-height: 13px;
    height: 13px;
    padding-right: 10px;
    
}
.cgcDialInNumber{
    margin-top: 4px;
    font-size: 14px;
    color: #474747;
}
.cgcDialInExtensionLabelSeperator{
	margin-top: 8px;
	margin-left: 4px;
    display: flex;
    align-items: baseline;
}
.cgcDialInExtensionLabel{
	font-size: 13px;
    white-space: pre;
}
.cgcDialInExtensionNumber{
	font-size: 14px;
	color: #474747;
}

.cgcLoggedInUserWidget{
    min-height:60px; 
    max-height:140px
}

.cgcCallMeWidget{
    color:#B5B5B5;
    font-size:12px;
    width:100%;
    margin-top: 12px;
}

.cgcCallMeNumberTextContainer{
	margin-left: 4px;
}
.cgcCallMeNumberText{
    cursor: text;
    margin-right:10px;
    min-width:170px;
    height: 32px !important;
    box-shadow: none !important;
    border: 1px solid #E8E8E8;
    border-radius: 4px;
    padding: 8px 8px 8px 8px !important;
}

/* .cgcCallMeNumberActiveTextBorder{ */
/*     border: 2px solid #0099cc !important; */
/*     box-shadow: 0.5px 0.5px 0.5px 0.5px #0099cc !important; */
/* } */

.cgcCallMeImgWidget{
    padding:0px;
}

.cgcCallMeImage{
    cursor: pointer;
    height : 26px;
}

.cgcCallMeContentHide{
    height: 100%;
}

.cgcCallMeContentShow{
    height : auto;
}

.cgcConferencePanel{
    border: 0px solid;
    padding:0px;
/*     background-color: #1B1A1A; */
/*     max-height:400px; */
    width:100%;
}

.cgcDockerPanelSideBar{
    cursor: pointer;
    height : 12px;
    width: 10px;
    text-align: right;
    vertical-align: text-top;
}

.cgcStatusPanel{
    height : 16px;
    width : 100%;
    max-height : 16px;
}

.cgcFullScreenOn{
    cursor: pointer;
    width : 6px;
    height : 12px;
    vertical-align: text-top;
}

.AlternativeExpandContainer{
	display: flex;
}

.cgcAlternativeExpand{
    cursor: hand;
	cursor: pointer;
	width: 12px !important;
	height: 8px !important;
}

.cgcChatPanel{
    min-height:100%;
    min-width:100%;
    display: inline-block;
    max-height:100%;
    max-width:100%;
    -webkit-user-select: text;  
	-moz-user-select: text;    
	-ms-user-select: text;      
	user-select: text;
    user-select: text;
}

.cgcChatPanelHeader{
  height: 15px;
  width: 100%;
}

.cgcChatPanelFooter{
	height:8px;
	width:100%
}

.cgcChatItemSenderHeader{
    margin-top:2px;
    padding-top:8px;
}

.cgcLoginOuterBox{
    display: inline-block;
}

.cgcLoginInputBox{
    height: 39px;
    text-align: center;
}

.cgcLoginFirstAndLastNameText{
    height: 37px;
    width: 100%;
    font-size: 15px !important;
}

 .cgcLoginFirstAndLastNameText::-ms-clear {
    display: none;
}

.cgcLoginFirstAndLastNameText:-ms-input-placeholder{
	color: #C1C1C1 !important;
	font-size: 15px !important;
}

/* .cgcLoginFirstAndLastNameTextColor{ */
/*     color: #333333; */
/*     font-size: 15px !important; */
/* } */

.cgcRecaptchaBox{
    height: 100%;
    display: inline-block;
}

.cgcFirstandLastNameText{
    background-color: #ffffff;
    width: 232px;
    height: 37px;
    padding: 0px;
    padding-left: 6px;
    border: 1px solid #E8E8E8;
    border-radius: 6px;
    box-shadow: none !important;
}

/* .cgcFirstandLastNameActiveTextBorder{ */
/*     border-color: #0099cc !important; */
/*     box-shadow: 0.5px 0.5px 0.5px 0.5px #0099cc !important; */
/* } */

.cgcFullScreenPanelOn{
    width : 10px;
    height : 12px;
}

.cgcFullScreenPanelOff{
    width : 8px;
    height : 100%;
    border-right:3px solid #E6E6E6
}

.cgcDialInfoImage{
    cursor: hand; 
    cursor: pointer;
    height: 30px !important;
    width: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
    float: right;
}

.cgcProfileBar{
    height: 32px;
    max-height:32px;
    min-height:32px;
	text-align: left;
	font-size: 12px;
	padding-left: 5px;
/* 	background-color: #000000; */
/* 	color: #B5B5B5; */
	vertical-align: middle;
	line-height: 32px;
	text-overflow: ellipsis;
	overflow: hidden;
	 white-space: nowrap;
}

.cgcDialInfoImageHide{
    cursor: hand; 
    cursor: pointer;
    width: 12px !important;
    height: 20px !important;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-right: 2px;
    float: right;
}

.cgcCallMeImgNowButton{
    cursor: hand; 
    cursor: pointer;
    padding: 5px 20px;
    font-size: 14px;
    color: #FFFFFF !important;
    height: 32px !important;
	width: auto;
	max-width:100px;
	min-width:64px;
	border-radius: 5px;
	border: 0px !important;
	box-shadow: none !important;
	background-image: none !important;
	
}

.cgcStatusPage{
    background:white; 
    text-align: center;
    margin-top:100px;
    height:10px
}

.cgcUserPanelHeader{
    padding: 5px;
    width: 30px !important;
    height: 30px !important;
}

.cgcUserPanel{
    border-radius: 2px;
    width: auto !important;
    height: 18px;
    background-color: #FF9016;
    margin-top: 5px;
}

.cgcCaptchaErrorBorderDiv{
    display: inline-block;
    max-width:345px;
}

.cgcCaptchaErrorLabel{
	font-size: 15px;
    border-radius: 5px;
    font-weight: bold;
    display: table-caption;
    width: 300px;
}

.cgcInfoAndErrorDiv{
	display: flex;
	box-sizing: border-box;
	margin-left: 80px;
}

.cgcLoginTimeoutErrorBox{
    text-align: center;
    text-align: -webkit-center;
}

.cgcLoginTimeoutError{
    width: 230px;
    font-size: 15px;
    margin-top: 28px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
}

/* .cgcBrowserSupportErrorPanel {
    padding: 10px;
    font-size: 15px;
    width: 100%;
    display:inline;
    display: -ms-grid;
    text-align: center;
} */

.cgcErrorPanel{
    font-size: 15px !important;
    border-radius: 5px;
    width: 265px;
}

.cgcInfoPanel{
	font-size: 15px;
	border-radius: 5px;
	color: #000000;
	width: 253px;
}

.cgcViewPanelComponentContainer{
	height:100%;
}

.cgcChatMessagePopupContent{
    font-size: 16px;
    padding-left: 15px;
	padding-right: 15px;
    min-width: 240px ;
    max-width:calc(100% - 20px);
    word-wrap: break-word;
    text-overflow:ellipsis;
    overflow: hidden;
    float: left;
    position: relative;
}

.cgcChatMessagePopup{
    overflow: hidden;
    left: 0%;
    color: #FFFFFF;
    max-height: 115px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    bottom: 11px;
    z-index: 1;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-left: 9px;
}

.cgcChatContainer {
	min-width: 80%;
}

.cgcChatContainer {
	min-width: 80%;
}

/* .cgcChatContentFirstStyle { */
/*     position: relative; */
/*     padding-left: 8px !important; */
/* 	padding: 5px; */
/* 	margin-right: 50px; */
/* 	margin-left: 12px; */
/* 	border: 2px solid #EFEFEF; */
/* 	display: inline-block; */
/* 	color: #333; */
/* 	-moz-border-radius: 10px !important; */
/* 	border-radius: 3px; */
/* 	max-width: 80%; */
/* } */

/* .cgcChatContentFirstStyle:before { */
/* 	  bottom: auto !important; */
/* 	  left: -9px; */
/* 	  border-width: 0px 9px 10px 0px; */
/* 	  border-color: transparent #EFEFEF; */
/* 	  content: ""; */
/* 	  position: absolute; */
/* 	  border-style: solid; */
/* 	  display: block; */
/* 	  margin-top: -7.2px; */
/* 	  top: 5.4px; */
/* } */

/* .cgcChatContentFirstStyle:after { */
/*       top: 8.2px; */
/* 	  bottom: auto; */
/* 	  left: -4.5px; */
/* 	  border-width: 0px 9px 10px 0px; */
/* 	  content: ""; */
/* 	  position: absolute; */
/* 	  display: block; */
/* 	  border-style: solid; */
/* 	  margin-top: -8.2px; */
/* } */

/* .cgcChatContentOtherStyle { */
/*     font-size: 13px; */
/* 	white-space: pre-wrap; */
/* 	word-wrap: break-word; */
/* 	margin-left: 40px; */
/* 	max-width: 80%; */
/* 	margin-right: 2%; */
/* 	border: 2px solid #EFEFEF; */
/* 	display: inline-block; */
/* 	border-radius: 3px; */
/* 	padding-left: 8px !important; */
/* 	padding: 5px; */
/* } */

/* .cgcChatInnerBox{ */
/* 	margin-top: 0.1px; */
/* 	width: 100%; */
/* } */

/* .cgcChatDetails{ */
/* 	padding-top: 10px; */
/* 	font-size: 11px; */
/* } */

.cgcOuterBoxRight {
  	height: 71px;
  	border: 1px solid #E4E4E4;
  	width: 100%;
  	background-color: #F0F0F0;
}
.cgcOuterBoxLeft {
     position: relative;
  height: 100px;
  width: 100%;
}

.cgcChatBoxLeft {
	border-width: 2px 0px 0px 0px;
  	width: 100%;
  	height: auto !important;
}

.cgcChatBoxRight {
	border-width: 2px 0px 0px 0px;
}

.chatEntryBoxLeft:-ms-input-placeholder{
	font-size: 13px;
}

.chatEntryBoxLeft::-webkit-resizer{ 
    border: 0px solid rgba(0,0,0,0); 
}

.chatEntryBoxLeft {
    width: 100%;
    box-sizing: border-box;
    line-height: 20px;
    border: 0px;
    font-family: 'Roboto', -apple-system, Arial, Helvetica, sans-serif !important;
    overflow: hidden;
    outline: none;
    resize: none;
    min-height: 36px !important;
    height: 36px;
    max-height: 14em;
    padding: 8px;
    display: block;
}

.chatEntryBoxRight::-webkit-input-placeholder{
	font-size: 13px !important;
	color: #C1C1C1;
}

.chatEntryBoxRight:-ms-input-placeholder{
	font-size: 13px !important;
	color: #C1C1C1;
}

.chatEntryBoxRight::-webkit-resizer{ 
    border: 0px solid rgba(0,0,0,0); 
}

.chatEntryBoxRight{
	border: 0px !important;
	font-size: 13px;
	color: #333333;
	bottom: 0px;
	line-height: 20px;
	outline: none;
	width: 100%;
	overflow: hidden;
	font-family: 'Roboto', -apple-system, Arial, Helvetica, sans-serif !important;
	resize: none;
	height: 36px;
	min-height: 36px;
	max-height: 8em;
	padding: 8px;
	box-sizing: border-box;
	display: block;
}

.chatEntryBoxFullInnerBorder{
    box-shadow: inset 0 0 1px 1px #0099cc;
}

.chatEntryBoxTopInnerBorder{
/*     border-top:1px solid #0099cc !important; */
}

.cgcHeaderBarStyle{
    width: 100%;
    height:9% !important;
    background-repeat:no-repeat;
}

.cgcProfilePanel{
    width: 100%;
    padding-left: 55px;
    padding-bottom:0px;
    padding-top:10px;
}

.cgcNavigationButton{
    text-align: left;
    text-shadow: none;
    font-size: 13px !important;
    padding: 0px 8px !important;
    /* border: 0px !important; */
    height: 31px !important;
    line-height: 31px;
    background-color: #FFFFFF !important;
    width: auto !important;
}

.cgcDockerNavicationHeader{
    border-width: 0px 0px 2px 0px;
    height: 34px;
} 

.cgcNavigationEnabled{
    height: 32px !important;
    width: 100%;
    border-width: 0px  0px 2px 0px;
}

.cgcDeactive{
    border: 0px !important;
    background-color: #FFFFFF;
    background: #FFFFFF;
    height: 31px !important;
}

.cgcActiveNavigator{
    border-width: 0px 0px 3px 0px !important;
    height: 34px !important;
}

.cgcViewPanelHeader{
    height:32px;
    line-height:32px;
    vertical-align:middle;
}

.cgcViewPanelHeaderFullScreenOffScreenShare{
    height: 42px;
    vertical-align: middle;
    padding: 6px;
}

.cgcViewPanelHeaderFullScreenOffVideo{
    height: 42px;
    vertical-align: middle;
    padding: 6px;
}


.cgcViewPanelHeaderFullScreenOnScreenShare{
    height: 42px;
    padding: 6px;
}

.cgcViewPanelHeaderFullScreenOnVideo{
    height: 42px;
    vertical-align: middle;
    padding: 6px;
}

.cgcChatPanelBorderColor{
/*     border : 1px solid #E5E6E7 ; */
}

.cgcVideoPanelBorder{
/*     border-top : 16px solid #3a3a3a; */
/*     border-left:15px solid #3a3a3a; */
/*     border-right:15px solid #3a3a3a; */
/*     border-bottom:16px solid #3a3a3a; */
}

.cgcVideoPanelBackground{
	background-color:#3A3A3A;
}

.cgcScreenPanelBorder{
/*     border-top : 16px solid #3a3a3a; */
/*     border-left:15px solid #3a3a3a; */
/*     border-right:15px solid #3a3a3a; */
/*     border-bottom:16px solid #3a3a3a; */
}

.cgcScreenPanelBackground{
	background-color:#3A3A3A;
}

.cgcRemoteVideoContainer {
	background-color: #000000;
	position: relative;
	margin: auto !important;
	height: 0px;
	width: 0px;
}
.cgcRemoteVideo {
	position: absolute;
	background-color: #000000;
	height: 100%;
	width:100%;
	border: none;
}

.cgcLocalVideo {
    position: absolute;
    top: auto;
    right: 30px;
    left: auto;
    bottom: -20px;
     height: 25%;
    max-width: 25%;
    background-color: #000000;
    z-index: 99;
    border-radius: 6px;
    border: 1px;
}

.cgcVideoPanel .cgcLocalVideo{
	bottom: 10px;
	right: 10px;
}

.cgcSelfView{
    cursor: hand;
	cursor: pointer;
	width: 24px;
	height: 24px;
	z-index: 20;
	position: absolute;
	right: 5px;
	left: auto;
	top: 5px;
	display: block;
}

.cgcDialBackground{
    background-color:#FFFFFF;
}

/* .cgcParticipantMessageBackground{ */
/*     background-color:#FFF1E2; */
/* } */

.cgcGuestMessageBackground{
    background-color:#FFFFFF;
}

.cgcChatInfoBackground{
    min-height: 16px;
    font-size: 12px;
}

.cgcChatErrorBackground{
    padding: 6px 15px;
    height: 16px;
    font-size: 16px;
}

.cgcChatUserInfo{
    vertical-align: top;
}

.cgcChatInfo{
    vertical-align: baseline;
}

.cgcDesktopShareImgButton{
    cursor: hand; 
    cursor: pointer;
    padding: 1px;
    font-weight: bold;
    font-size: 11px;
    height: 24px !important;
	width: 54px;
	max-width:54px;
	min-width:24px;
	border-radius: 12px;
	border: 0px !important;
	box-shadow: none !important;
	background-image: none !important;
	
}

/* .cgcDesktopSharePanel{ */
/*     border: 0px solid; */
/*     padding:0px; */
/*     background-color: #1B1A1A; */
/*     max-height:400px; */
/*     width:275px; */
/* } */

.cgcDesktopSharePopup{
    padding: 25px;
    vertical-align: middle !important;
    border: 1px;
    border-radius: 6px;
    width: 210px;
    position: absolute;
    z-index: 21 !important;
    display: flex;
    flex-direction: column;
}

.cgcDesktopSharePopupIcon{
	margin-bottom: 15px;
    width: 36px;
    height: 36px;
    align-self: center;
}

.cgcDesktopSharePopupText{
    font-size: 12px;
    border-bottom: 0px;
    font-weight: 500;
    display: inline;
    margin-bottom: 25px;
}

.cgcDesktopSharePopupButton{
    cursor: pointer;
    padding: 1px;
    font-size: 11px;
    height: 24px !important;
    width: 54px;
    max-width: 54px;
    min-width: 24px;
    border-radius: 4px;
    border-width: 1px;
    box-shadow: none !important;
    background-image: none !important;
    top: 175px;
}

.cgcShareButtonHoverCover{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    border-radius: 4px;
}

.scrollbar-macosx > .scroll-element,
.scrollbar-macosx > .scroll-element div
{
	background: none;
	border: none;
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 10;
}
 
.scrollbar-macosx > .scroll-element div {
	display: block;
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
}
 
.scrollbar-macosx > .scroll-element .scroll-element_track { 
	display: none; 
}
.scrollbar-macosx > .scroll-element .scroll-bar {
	background-color: #6C6E71;
	display: block;
	 
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	 
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	 
	-webkit-transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;
	-ms-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
}
.scrollbar-macosx:hover > .scroll-element .scroll-bar,
.scrollbar-macosx > .scroll-element.scroll-draggable .scroll-bar {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	opacity: 0.7;
}
 
 
.scrollbar-macosx > .scroll-element.scroll-x {
	bottom: 0px;
	height: 0px;
	left: 0;
	min-width: 100%;
	overflow: visible;
	width: 100%;
}
 
.scrollbar-macosx > .scroll-element.scroll-y {
	height: 100%;
	min-height: 100%;
	right: 0px;
	top: 0;
	width: 0px;
}
 
/* scrollbar height/width & offset from container borders */
.scrollbar-macosx > .scroll-element.scroll-x .scroll-bar { 
	height: 7px; min-width: 10px; top: -9px; 
}

.scrollbar-macosx > .scroll-element.scroll-y .scroll-bar { 
	left: -9px; min-height: 10px; width: 7px; 
}
 
.scrollbar-macosx > .scroll-element.scroll-x .scroll-element_outer { 
	left: 2px; 
}

.scrollbar-macosx > .scroll-element.scroll-x .scroll-element_size { 
	left: -4px; 
}
 
.scrollbar-macosx > .scroll-element.scroll-y .scroll-element_outer { 
	top: 2px; 
}

.scrollbar-macosx > .scroll-element.scroll-y .scroll-element_size { 
	top: -4px; 
}
 
/* update scrollbar offset if both scrolls are visible */
.scrollbar-macosx > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { 
	left: -11px; 
}

.scrollbar-macosx > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { 
	top: -11px; 
}


/***************************************************
 * The Customize CSS Classes in starts from here.
 ***************************************************/
.bsftPrimaryBackground{
	background-color: #2dbd9b !important;
}
.bsftPrimaryButton{
	background-color: #2DBD9B !important;
}
.bsftPrimaryButton[disabled]{
	opacity: 0.5 !important;
}
.bsftPrimarySeparator{
	border-color: #2DBD9B !important;
	border-style: solid;
}
.bsftPrimaryButtonReverse{
	color: #FFFFFF !important;
}
.bsftCallControlsBackground{
	background-color: #F0F0F0 !important;
}
.bsftChatBackground{
	background-color: #f8f8f8 !important;
}
.bsftIncomingChatBalloon{
	background-Color: #FFFFFF !important;	
}
.bsftOutgoingChatBalloon{
	background-Color: #627789 !important;	
}
.bsftIcon{
	color: #2d2d2d;
}
.bsftSelectedIcon{
	color: #2dbd9b !important;
}
.bsftSymbolicRed{
	Color: #FF3347 !important;
}
/* .bsftHoverBackground { */
/* 	background-Color: #000000 !important; */
/* 	opacity: 0.1; */
/* } */
.bsftHoverBackground {
	background-Color: #000000 !important;
	opacity: 0;
}
:not(.bsftDisabledBG) > .bsftHoverBackground:hover {
	opacity: 0.1 !important;
}
.active > .bsftHoverBackground {
	opacity: 0.1 !important;
}
.active > .bsftHoverBackground:hover {
	opacity: 0.2 !important;
}

.bsftShareButtonHoverBackground{
	background-Color: #000000 !important;
	opacity: 0;
}
.bsftShareButtonHoverBackground:hover,
.active > .bsftShareButtonHoverBackground{
	opacity: 0.15 !important;
}

.bsftDimmedText:-ms-input-placeholder{
	color: #b4b4b4 !important;
}
.bsftDimmedText::-webkit-input-placeholder {
	color: #b4b4b4 !important;
}

 .bsftDimmedText::-ms-clear {
    display: none;
}

.bsftPrimaryText{
	color: #FFFFFF !important;
}
.bsftCallBackground{
	background-Color: #0D2C3E !important;
}
.bsftHeaders{
	color: #323232 !important;
}
.bsftIncomingChatText{
	color: #323232 !important;
}
.bsftOutgoingChatText{
	color: #FFFFFF !important;
}
.bsftChatPrimaryText{
	color: #2BAA85 !important;
}
.bsftChatSecondaryText{
	color: #b4b4b4 !important;
}
.bsftSeparators{
	border-color: #dcdcdc !important;
	border-style: solid;
}
.bsftInputBoxBorder{
	border-color: #dcdcdc !important;
	border-style: solid;
}
/* .bsftInputFieldOutline{ */
/*     outline-color: #c4e8dd !important; */
/*     outline-style: solid; */
/* } */
.onyx-input-decorator.onyx-focused.bsftInputFieldOutline{
	border-color: #c4e8dd !important;
    border-style: solid;
}
.bsftAppNotification{
    border-style: solid;
    border-color: #FFDA00 !important;
}
.bsftAppNotificationBackground{
	background-color: #F8F8F8 !important;
}
.bsftAppNotificationText{
	color: #323232 !important;
}
.bsftBadgeText{
	color: #323232 !important;
}
.bsftBadgeBackground{
	background-color: #DCDCDC !important;
}
/* .bsftAccentText{ */
/* 	color: #2BAA85 !important; */
/* } */
.bsftAccentText > a{
	color: #2BAA85 !important;
}
.bsftAccentText > a {
	text-decoration: none !important;
	outline: none;
}

.bsftWelcomeScreenDesc > a {
	color: #475561 !important;
	outline: none;
}

.bsftTooltipBackground{
	background-color: #323232 !important;
}
.bsftTooltipText{
	color: #ffffff !important;
}

.bsftVersionText{
	color: #969696 !important;
}

.bsftPrimaryContentText{
	color: #333333 !important;
}

.bsftContentBackground{
	background-color: #FFFFFF !important;
}

.bsftTertiaryContentText{
	color: #C0C0C0 !important;
}

.bsftChatErrorFontColor{
    color:#FF0000;
}

.bsftAlternateDialInNumbersPopup:after{
    border-color: #2DBD9B transparent;
}

.bsftAlternateDialInNumbersPopupBackground{
    background-color: #FFFFFF; 
}

.bsftWelcomeScreenPopupBackground{
	background-color: #FFFFFF;
}

.bsftSharePopupBackground{
	background-color: #F0F0F0;
}

.bsftPrimaryButtonBorder{
	border-color: #2DBD9B !important;
	border-style: solid;
}

.bsftDefaultAvatarBorder{
	border-color: #2DBD9B !important;
	border-style: solid;
}

.bsftDesktopSharePopupCancleBtn{
	background-color: #FFFFFF;
}
/***************************************************
 * The Customize CSS Classes ends here.
 ***************************************************/